.question-answer-list-container {
  width: 90%;
  border: 1px solid #d7dae6;
  border-radius: 15px;
  padding: 15px;
  margin-top: 25px;
}
.question-container {
  display: flex;
  justify-content: space-between;
}
.btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.plus-minus-icon {
  height: 20px;
  width: 20px;
}
.question {
  color: #52606d;
  font-size: 20px;
  font-weight: 500;
}
.answer {
  color: #9aa5b1;
  font-size: 17px;
  font-weight: 500;
}
.line {
  border: 1px solid #9aa5b1;
}
